APP_NAME=Depo
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite
DB_DATABASE=storage/database.sqlite
# MySQL kullanmak için aşağıdaki alanları güncelleyin
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=

SESSION_LIFETIME=120
